@import '../utils/variables';

.hero-section {
  // MOBILE+TABLET!!!
  display: block;
  height: 400px;

  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  background-color: getColor('secondary');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // !!!

  // MOBILE!!!
  max-width: 100vw;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/mobile/hero_img@1x.jpg');

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/mobile/hero_img@2x.jpg');
  }
  // !!!!

  // TABLET!!!
  @media screen and (min-width: 768px) {
    max-width: 100vw;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/hero_img@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/tablet/hero_img@2x.jpg');
    }
    // !!!
  }

  // // DESKTOP!!!
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/hero_img@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/desktop/hero_img@2x.jpg');
    }
  }
  // !!!

  &__title {
    // MOBILE+TABLET!!!
    color: getColor('main');
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;

    // DESKTOP!!!
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__bt {
    width: 200px;
    height: 50px;
  }
}
