@import '../utils/variables';

.page-footer {
  // MOBILE+TABLET+DESKTOP!!!
  background-color: getColor('secondary-bg');
  padding-top: 60px;
  padding-bottom: 60px;
  // !!!
}

.logo-adds-join {
  // TABLET!!!
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }
  // !!!
}
