@import '../utils/variables';
@import '../utils/transition';

.partners {
  &__list {
    // MOBILE+TABLET+DESKTOP!!!
    display: flex;
    // !!!

    // MOBILE+TABLET!!!
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      margin-right: calc(-1 * #{getGap('partners-item')});
      margin-bottom: calc(-1 * #{getGap('partners-item')});
    }

    //!!!
  }

  &__item {
    // MOBILE!!!
    @media screen and (max-width: 767px) {
      flex-basis: calc(
        100% / #{getColumn('partners-mobile')} - #{getGap('partners-item')}
      );
    }
    // !!!

    // TABLET!!!
    @media screen and (max-width: 1199px) {
      flex-basis: calc(
        100% / #{getColumn('partners-tablet')} - #{getGap('partners-item')}
      );
    }

    // MOBILE+TABLET!!!
    @media screen and (max-width: 1199px) {
      margin-right: getGap('partners-item');
      margin-bottom: getGap('partners-item');
    }
    // !!!

    // DESKTOP!!!
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    // !!!
  }

  &__link {
    // MOBILE+TABLET+DESKTOP!!!
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid getColor('icon');
    border-radius: 4px;
    height: 92px;
    // !!!

    // MOBILE!!!
    width: 210px;
    // !!!

    // TABLET!!!
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    // !!

    // DESKTOP!!!
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    // !!!

    // MOBILE+TABLET+DESKTOP!!!
    @include transition(border);

    &:hover,
    &:focus {
      border: 1px solid getColor('highlighting');
    }
    // !!!
  }

  &__icon {
    // MOBILE+TABLET+DESKTOP!!!
    width: 106px;
    height: 60px;
    fill: getColor('icon');

    @include transition(fill);

    .partners__link:hover &,
    .partners__link:focus & {
      fill: getColor('highlighting');
    }
    // !!!
  }
}
