@import '../utils/variables';

.team {
  // MOBILE+TABLET+DESKTOP!!!
  background-color: getColor('third-background');
  // !!!

  &__list {
    // TABLET!!!
    @media screen and (min-width: 768px) {
      max-width: 768px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      margin-right: calc(-1 * #{getGap('team-tablet')});
      margin-bottom: calc(-1 * #{getGap('team-tablet')});
    }
    // !!!
  }

  &__item {
    //MOBILE+TABLET+DESKTOP!!!
    text-align: center;
    background-color: getColor('main');
    box-shadow: getShadow('fotocard');
    border-radius: 0px 0px 4px 4px;
    // !!!

    // MOBILE!!!
    @media screen and (max-width: 767px) {
      max-width: 450px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    // !!!

    // TABLET!!!
    @media screen and (min-width: 768px) {
      max-width: 354px;
      flex-basis: calc(
        100% / #{getColumn('team-tablet')} - #{getGap('team-tablet')}
      );
      margin-right: getGap('team-tablet');
      margin-bottom: getGap('team-tablet');
    }

    // Только на DESKTOP!!!
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
    // !!!
  }

  &__box {
    //MOBILE+DESKTOP!!!
    padding-top: 30px;
    // !!!

    // Только на MOBILE!!!
    padding-bottom: 24px;
    // !!!

    // Только на DESKTOP!!!
    //   padding-bottom: 30px;
    // !!!
  }

  &__names {
    // MOBILE+TABLET+DESKTOP!!!
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
    // !!!
  }

  &__profession {
    // Общее с DESKTOP!!!
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: getColor('secondary-text');

    margin-bottom: 16px;
    // !!!
  }

  // На DESKTOP!!!
  // &__list {
  //   display: flex;
  // }

  // &__item {
  //   width: 270px;
  // }
  // !!!
}
