@import '../utils/variables';
@import '../utils/transition';

.address {
  // DESKTOP+MOBILE!!!
  font-style: normal;
  // !!!

  &__item:not(:last-child) {
    // MOBILE!!!
    margin-bottom: 8px;
    // !!!

    // DESKTOP!!!
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
    // !!!
  }

  &__link {
    // MOBILE+TABLET!!!
    display: block;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    // !!!

    // MOBILE+TABLET+DESKTOP!!!
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('third-text');

    @include transition(color);

    &:hover,
    &:focus {
      color: getColor('highlighting');
    }

    &--location {
      color: getColor('main');
    }
    // !!!
  }
}
