@import '../utils/variables';
@import '../utils/transition';

.bt {
  background-color: getColor('highlighting');
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: getColor('main');
  box-shadow: getShadow('BtHero');
  border-radius: 4px;
  border: none;
  padding: 0;

  @include transition(background-color);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: getColor('bt-hover');
  }
}
