@import '../utils/variables';
@import '../utils/transition';

.filters {
  // MOBILE+TABLE+DESKTOP!!!
  display: flex;
  // !!!

  // MOBILE!!!
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;

  // TABLE!!!
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  // !!!

  // DESKTOP!!!
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  // !!!

  &__item:first-child {
    // MOBILE!!!
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    // !!!
  }

  &__item:not(:last-child) {
    // MOBILE+TABLET+DESKTOP!!!
    margin-right: 8px;
    // !!!!
  }

  &__button {
    // MOBILE+TABLET+DESKTOP!!!
    background-color: getColor('third-background');
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-style: unset;
    border-radius: 4px;
    color: getColor('main-text');

    padding: 6px 22px;

    @include transition(background-color + color + box-shadow);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: getColor('highlighting');
      color: getColor('main');
      box-shadow: getShadow('bt-filter');
    }

    &--active {
      background-color: getColor('highlighting');
      color: getColor('main');
      box-shadow: getShadow('bt-filter');
    }
    // !!!!
  }
}
