@import '../utils/variables';

.logo {
  // MOBILE+TABLET+DESKTOP!!!
  font-family: getFonts('secondary');
  font-weight: 700;
  letter-spacing: 0.03em;
  color: getColor('main-text');
  // !!!!

  // MOBILE+TABLET!!!
  font-size: 24px;
  line-height: 1.16;
  // !!!

  // TABLET!!!
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  // !!!Desktop!!!
  //  font-size: 26px;
  // line-height: 1.19;
  // margin-right: 93px;
  // padding-top: 24px;
  // padding-bottom: 25px;
  // !!!

  &__web {
    // MOBILE+TABLET+DESKTOP!!!
    color: getColor('highlighting');
    //  !!!
  }

  &--footer {
    // MOBILE+TABLET+DESKTOP!!!
    color: getColor('main');
    // !!!

    // MOBILE+TABLET!!!
    margin-bottom: 20px;
    margin-right: 0;
    // !!!

    // DESKTOP!!!
    // margin-bottom: 30px;
    // padding: 0;
    // !!!
  }
}
