@import '../utils/variables';

.logo {
  // DESKTOP+MOBILE!!!
  font-family: getFonts('secondary');
  font-weight: 700;
  letter-spacing: 0.03em;
  color: getColor('main-text');
  // !!!!

  // MOBILE!!!
  font-size: 24px;
  line-height: 1.16;
  // !!!

  // !!!Desktop!!!
  //  font-size: 26px;
  // line-height: 1.19;
  // margin-right: 93px;
  // padding-top: 24px;
  // padding-bottom: 25px;
  // !!!

  &__web {
    color: getColor('highlighting');
  }

  &--footer {
    // DESKTOP+MOBILE!!!
    color: getColor('main');
    // !!!

    // MOBILE!!!
    margin-bottom: 20px;
    // !!!

    // DESKTOP!!!
    // margin-bottom: 30px;
    // padding: 0;
    // !!!
  }
}
