@import '../utils/variables';
@import '../utils/transition';

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: getColor('highlighting');
    }

    &--join-box {
      background-color: getColor('footer-social-link-bg');

      &:hover,
      &:focus {
        background-color: getColor('highlighting');

        & .icon,
        & .icon {
          fill: getColor('main');
        }
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: getColor('icon');

    @include transition(fill);

    &--join-box {
      fill: getColor('main');
      @include transition(fill);
    }

    .social-list__link:hover &,
    .social-list__link:focus & {
      fill: getColor('main');
    }
  }
}
